/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

a{
    text-decoration: none;
}
/* Setting up the Body */
body {
    line-height: 1.5;
    min-height: 100vh;
    background-color: black;
}

/* Setting up the Images */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* Inhering the fonts */
input,
button,
textarea,
select {
    font: inherit;
}

/* Removing animations for people who've turned them off animation at their OS or Browser Settings */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

/* Stlying for Screen Readers. Elements will not be visible on the browser but still available in DOM */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.content {
    padding: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content>img {
    width: 50%;
}

.days {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}


.challenge {
    background-color: rgb(238, 238, 238, 0.2);
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2ch;
    font-weight: 400;
}


.challenges1 {
    background-color: #01ff06;
}